body {
    background: #F7D115;
    margin:0;
}
.logo {
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 22px;
    text-transform: uppercase;
    padding:20px 0px 16px 0px;
}
.logo:before {
    content:'';
    display:inline-block;
    height:50px;
    width:50px;
    background: transparent url('svg/nodebot-black.svg') no-repeat center;
    vertical-align: -9px;
    margin:0 20px;
}
h1{
    font-family: Helvetica, sans-serif;
    font-size: 64px;
    line-height: 77px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    background:white;
    padding:20px 0px 12px 88px;
    margin:0;
}
h1 div {
    max-width:300px;
}